<div class="container">
  <%if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
      <button class="close" data-dismiss="alert">×</button>
      </div>
  <% end %>
  <h1><%= @article.title%>
  <small>
      <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_article_path(@article) %>
      <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %></small>
  </h1>
  <hr>
  <p><%= @article.content %></p>
  </div>
